[submodule "oe-core"]
	path = oe-core
	url = git@github.com:openembedded/openembedded-core.git
	branch = scarthgap
[submodule "meta-oe"]
	path = meta-oe
	url = git@github.com:openembedded/meta-openembedded.git
	branch = scarthgap
[submodule "meta-polarfire-soc-bsp"]
	path = meta-polarfire-soc-bsp
	url = git@github.com:polarfire-soc/meta-polarfire-soc-yocto-bsp.git
	branch = master
[submodule "bitbake"]
	path = bitbake
	url = git@github.com:openembedded/bitbake.git
	branch = master
