// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2025 Enclustra GmbH
 * <info@enclustra.com>
 */

/dts-v1/;

#include "enclustra_mercury_mp1.dtsi"
#include "fcc_v1_fabric.dtsi"
#include "fcc_v1_module.dtsi"
#include "fcc_v1_baseboard.dtsi"
